.sideMenu {
  width: 180px;

  //   font-family: 'Pretendard', sans-serif;
  color: #333;
}
.fire {
  width: 20px;
  height: 20px;
}
.sideMenu__title {
  font-size: 14px;
  font-weight: 350;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  gap: 6px;
}

.sideMenu__list {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 14px;

  li {
    padding: 6px 0;
    cursor: pointer;
    transition: color 0.2s;

    &:hover {
      color: #ff6600;
    }
  }
}
