.blog {
  .title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
  }
  .breadcrumb {
    padding: 10px 0;
    font-size: 0.8em;
  }
  .breadcrumb span {
    margin-right: 5px;
  }
}
